language: python
python:
    - "2.7"
    - "3.3"
    - "3.4"
    - "3.5"
    - "3.6"
install: 
    - if [[ $TRAVIS_PYTHON_VERSION == 2.6 ]]; then pip install importlib argparse; fi
    - pip install -r dev_requirements.txt
    - pip install coveralls
script: 
    - nosetests --cover-package=deepstreampy --with-coverage
    - behave
after_success: coveralls
